<hello name="Brave Swimmer" ></hello>

<h2> Info for Gordon beach:</h2>

<p>
 Flag Status : {{gordonB.blue_flag}}
</p>

<p>
  אנטרוקוק צואתי : {{gordonB.ENTEROCOCC_RESULTS_MAX}} (CFU/100-ml)
  <br/>
  טווח ערכים תקין: 0-105
  <br/>
  Exam Date : {{gordonB.ENTEROCOCC_DATE}}
</p>


<p>
  קוליפורם צואתי : {{gordonB.FEACAL_COLIFORM_RESULTS_MAX}} 
  <br/>
   Exam Date : {{gordonB.FEACAL_COLIFORM_DATE}}
</p>


<h4>
  Wave Range is: {{waveInfo.minHeight}}m - {{waveInfo.maxHeight}}m
</h4>

<br/>

<h4>
  Page visits
</h4>
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7729998&style=0011&nbdigits=5&type=page&initCount=0" title="Total Website Hits" Alt="Web Hits"   border="0" /></a>    